# Ignore all shell scripts
# *.sh

# Ignore temporary files
*~

# Ignore log files
*.log

# Ignore specific configuration files
config.ini

# Ignore sensitive files
credentials.txt

TestingFolder
